.catalog img {
    margin-bottom: -5px;
}

.catalog-description {
    padding: 10px 10px;
    padding-top: 30px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
}

.catalog-price {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: black;
}

.catalog-price em {
    color: #757575;
    font: italic 14px "Times New Roman", Times, Serif;
}

.catalog-figure {
    margin: 0;
    width: 100%;
    max-width: 240px;
}

.catalog-figure img {
    width: 100%;
}

.catalog-item {
    position: relative;
    width: 48%;
    max-width: 240px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.catalog {
    width: 100%;
    position: relative;
    padding: 0 20px;
}

.catalog-promo {
    width: 100%;
    order: 1;
    padding: 20px 30px 60px 30px;
    text-align: center;
}

.catalog-promo h2 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 200%;
    font-weight: bold;
    text-align: center;
}

.catalog-promo em {
    color: #f14a58;
    font-style: normal;
}

.catalog-promo p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 200%;
}

.catalog button {
    display: block;
    border: 1px solid #e5e5e5;
    outline: none;
    background: white;
    width: 220px;
    height: 60px;
    margin: 20px 0 100px 50%;
    transform: translateX(-50%);
    font: bold 18px/60px "Open Sans";
}

@media screen and (max-width:767px) {
    .catalog-item {
        width: 48%;
        max-width: 240px;
    }
    .catalog-item:nth-of-type(n + 3) {
        order: 2;
    }
}

.catalog-view-container {
    position: relative;
}

.catalog-view {
    position: absolute;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60%;
    background: rgba(0, 0, 0, 0.5);
    color: #f14a58;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.catalog-item:hover .catalog-view {
    display: block;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .catalog {
        padding: 0 40px;
    }
    .catalog-item {
        width: 30%;
        max-width: 240px;
    }
    .catalog-item:nth-of-type(n + 4) {
        order: 2;
    }
    .catalog button {
        width: 260px;
        height: 70px;
        margin: 35px 0 140px 50%;
        font: bold 18px/70px "Open Sans";
    }
    /*FONTS*/
    .catalog-description,
    .catalog-price {
        font-size: 14px;
    }
    .catalog-promo h2 {
        font-size: 20px;
    }
    .catalog-promo p {
        font-size: 16px;
    }
}

@media screen and (min-width:1024px) {
    .catalog {
        padding: 40px 60px;
    }
    .catalog-item {
        width: 23%;
        max-width: 240px;
    }
    .catalog-item:nth-of-type(n + 5) {
        order: 2;
    }
    .catalog button {
        width: 340px;
        height: 75px;
        margin: 50px 0 160px 50%;
        font: bold 24px/75px "Open Sans";
    }
    /*FONTS*/
    .catalog-description,
    .catalog-price {
        font-size: 14px;
    }
    .catalog-promo h2 {
        font-size: 24px;
    }
    .catalog-promo p {
        font-size: 16px;
    }
}

#catalog-foreground {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#catalog-foreground.is-visible {
    display: block;
}