.l-container {
    width: 100%;
    max-width: 1300px;
    min-width: 375px;
    margin: 0 auto;
    background-color: #fff;
}

.l-flex-multiline {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}