.bag h2 {
    height: 54px;
    padding-left: 35px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font: bold 18px "Open Sans";
    line-height: 54px;
    /* width: 100%; */
}

.bag-view-container {
    position: relative;
    width: 50%;
    max-width: 240px;
    float: left;
}

.bag-view-container img {
    width: 100%;
    margin-bottom: -4px;
}

.bag-view {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60%;
    background: rgba(0, 0, 0, 0.5);
    color: #f14a58;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.bag-item a:hover .bag-view {
    visibility: visible;
}

.bag-item-description {
    width: 50%;
    float: left;
    padding: 0 0 0 13px;
    cursor: default;
}

.bag-item {
    margin: 0 auto;
    width: 100%;
    max-width: 512px;
    padding: 15px 20px 25px 20px;
}

.bag-title {
    float: left;
    width: 50%;
    padding: 5px 0 0 13px;
    font: bold 12px/20px Roboto;
}

.bag-price {
    font: bold 14px Roboto;
    padding: 10px 0 32px 0;
}

.bag-item-characteristics {
    font: 10px/20px Roboto;
}

.bag-item-description button {
    cursor: pointer;
    font: bold 11px "Open Sans";
    color: #f14a58;
    padding: 10px 0;
    border: none;
    outline: none;
    background: 0;
    text-align: left;
    margin-top: 20px;
}

.bag-promo {
    margin: 35px 0 0 0;
    padding: 15px 25px;
    border-top: 1px solid #e5e5e5;
    background: #f7f7f7;
    font: bold 10px/16px "Open Sans";
    text-align: center;
}

.bag-footer {
    padding: 20px 20px 20px;
}

.bag-footer-left {
    display: block;
    float: left;
    padding: 0;
    padding-top: 28px;
    background: none;
    border: none;
    outline: none;
    font: 10px Roboto;
}

.bag-footer-right {
    float: right;
    padding-top: 15px;
    font: 10px Roboto;
    text-align: right;
}

.bag-footer-order {
    display: block;
    /* margin: 0 auto; */
    margin-left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 20px 30px;
    border: 1px solid #e5e5e5;
    background: none;
    outline: none;
    font: bold 18px "Open Sans";
}

.bag-message {
    padding: 60px 20px 30px;
    font: bold 18px "Open Sans";
    text-align: center;
}

@media screen and (min-width: 768px) {
    .bag-item {
        max-width: 50%;
        margin: 0;
        padding: 0;
        padding-bottom: 100px;
    }
    .bag-content {
        padding: 30px 40px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .bag-price {
        padding-bottom: 10px;
    }
    .bag-item-description button {
        margin-top: 0px;
    }
    .bag-footer {
        padding: 30px 40px 60px;
    }
    /* FONTS */
    .bag h2 {
        height: 65px;
        padding-left: 70px;
        font: bold 20px/65px "Open Sans";
    }
    .bag-title {
        font: bold 14px/24px Roboto;
    }
    .bag-price {
        font: bold 14px Roboto;
    }
    .bag-item-characteristics {
        font: 12px/24px Roboto;
    }
    .bag-item-description button {
        cursor: pointer;
        font: bold 13px "Open Sans";
    }
    .bag-promo {
        font: bold 11px/16px "Open Sans";
    }
    .bag-footer-order {
        padding: 25px 90px;
        font: bold 20px "Open Sans";
    }
    .bag-footer-left {
        padding-top: 32px;
        font: bold 13px Roboto;
    }
    .bag-footer-right {
        padding-top: 20px;
        font: 12px Roboto;
    }
}

@media screen and (min-width: 1024px) {
    .bag-item {
        padding: 0;
        padding-bottom: 90px;
    }
    .bag-content {
        padding: 30px 60px;
    }
    .bag-price {
        padding-bottom: 30px;
    }
    .bag-item-description button {
        margin-top: 20px;
    }
    .bag-footer {
        padding: 30px 90px 60px;
    }
    /* FONTS */
    .bag h2 {
        height: 65px;
        padding-left: 90px;
        font: bold 26px/65px "Open Sans";
    }
    .bag-title {
        font: bold 14px/24px Roboto;
    }
    .bag-price {
        font: bold 16px Roboto;
    }
    .bag-item-characteristics {
        font: 12px/24px Roboto;
    }
    .bag-item-description button {
        cursor: pointer;
        font: bold 13px "Open Sans";
    }
    .bag-promo {
        font: bold 12px/16px "Open Sans";
    }
    .bag-footer-order {
        padding: 25px 120px;
        font: bold 24px "Open Sans";
    }
    .bag-footer-left {
        padding-top: 35px;
        font: bold 13px Roboto;
    }
    .bag-footer-right {
        padding-top: 25px;
        font: 12px Roboto;
    }
}