<div class="carousel">
    <a href="#" id="carousel-anchor" class="carousel-img-wrapper">
        <img alt="goods" id="carousel-image1" class="carousel-image">
        <img alt="goods" id="carousel-image2" class="carousel-image is-hidden">
        <img alt="goods" id="carousel-image3" class="carousel-image is-hidden">
    </a>
    <a href="#" class="carousel-btn" id="carousel-prev-btn">&lt;</a>
    <a href="#" class="carousel-btn" id="carousel-next-btn">&gt;</a>
    <footer id="carousel-bullets">
        <a href="javascript:undefined" class="carousel-bullet is-active" id="carousel-bullet1"></a>
        <a href="javascript:undefined" class="carousel-bullet" id="carousel-bullet2"></a>
        <a href="javascript:undefined" class="carousel-bullet" id="carousel-bullet3"></a>
    </footer>
</div>