<div class="filter">

    <header class="filter-header">
        <span class="is-selected">Casual style</span>,
        <span>Product type</span>,
        <span>Color</span>,
        <span class="is-selected">Antipodium</span>,
        <span class="is-selected">UK 18</span>,
        <span>Price range</span>
        <button id="filter-btn-close">V</button>
        <div class="filter-gradient"></div>
    </header>

    <div class="filter-main">
        <section class="filter-category is-selected">
            <h4 class="filter-name">Fashion</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li data-id="11">Not selected</li>
                <li data-id="12">Nail the 90s</li>
                <li data-id="13" class="is-selected">Casual style</li>
                <li data-id="14">New Look</li>
                <li data-id="15">Sport</li>
                <li data-id="16">Vintage</li>
                <li data-id="17">Classical style</li>
            </ul>
        </section>

        <section class="filter-category">
            <h4 class="filter-name">Product type</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li data-id="21">Not selected</li>
                <li data-id="22">Coats &amp; Jackets</li>
                <li data-id="23">Dresses</li>
                <li data-id="24">Jersey Tops</li>
            </ul>
        </section>
        <section class="filter-category">
            <h4 class="filter-name">Color</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li data-id="31">Not selected</li>
                <li data-id="32">Black</li>
                <li data-id="33">Blue</li>
                <li data-id="34">Red</li>
                <li data-id="35">Green</li>
                <li data-id="36">Golden</li>
            </ul>
        </section>
        <section class="filter-category">
            <h4 class="filter-name">Brand</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li data-id="41">Not selected</li>
                <li data-id="42">Chi Chi London</li>
                <li data-id="43">Antipodium</li>
                <li data-id="44">Adidas</li>
                <li data-id="45">New Balance</li>
                <li data-id="46">River Island</li>
            </ul>
        </section>
        <section class="filter-category">
            <h4 class="filter-name">Size</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li data-id="51">Not selected</li>
                <li data-id="52">UK 2</li>
                <li data-id="53">UK 18</li>
                <li data-id="54">UK 18L</li>
                <li data-id="55">UK 20</li>
                <li data-id="56">UK 20L</li>
                <li data-id="57">UK 20S</li>
                <li data-id="58">UK 22S</li>
                <li data-id="59">UK 22</li>
            </ul>
        </section>
        <section class="filter-category">
            <h4 class="filter-name">Price range</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li data-id="61">Not selected</li>
                <li data-id="62">To &pound;99</li>
                <li data-id="63">&pound;100 &ndash; &pound;299</li>
                <li data-id="64">From &pound;300</li>
            </ul>
        </section>
    </div>

</div>