<div class="filter">

    <header class="filter-header">
        <span class="filter-selected">Casual style</span>,
        <span>Product type</span>,
        <span>Color</span>,
        <span class="filter-selected">Antipodium</span>,
        <span class="filter-selected">UK 18</span>,
        <span>Price range</span>
        <button id="filter-btn-close">V</button>
        <div class="filter-gradient"></div>
    </header>

    <div class="filter-main">
        <section class="filter-category filter-category-selected">
            <h4 class="filter-name">Fashion</h4>
            <h4 class="filter-value">Casual style</h4>
            <ul class="filter-list">
                <li>Not selected</li>
                <li>Nail the 90s</li>
                <li class="filter-selected">Casual style</li>
                <li>New Look</li>
                <li>Sport</li>
                <li>Vintage</li>
                <li>Classical style</li>
            </ul>
        </section>

        <section class="filter-category">
            <h4 class="filter-name">Product type</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li class="filter-not-selected">Not selected</li>
                <li>Coats &amp; Jackets</li>
                <li>Dresses</li>
                <li>Jersey Tops</li>
            </ul>
        </section>
        <section class="filter-category">
            <h4 class="filter-name">Color</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li class="filter-not-selected">Not selected</li>
                <li>Black</li>
                <li>Blue</li>
                <li>Red</li>
                <li>Green</li>
                <li>Golden</li>
            </ul>
        </section>
        <section class="filter-category filter-category-selected">
            <h4 class="filter-name">Brand</h4>
            <h4 class="filter-value">Antipodium</h4>
            <ul class="filter-list">
                <li>Not selected</li>
                <li>Chi Chi London</li>
                <li class="filter-selected">Antipodium</li>
                <li>Adidas</li>
                <li>New Balance</li>
                <li>River Island</li>
            </ul>
        </section>
        <section class="filter-category filter-category-selected">
            <h4 class="filter-name">Size</h4>
            <h4 class="filter-value">UK 18</h4>
            <ul class="filter-list">
                <li>Not selected</li>
                <li>UK 2</li>
                <li class="filter-selected">UK 18</li>
                <li>UK 18L</li>
                <li>UK 20</li>
                <li>UK 20L</li>
                <li>UK 20S</li>
                <li>UK 22S</li>
                <li>UK 22</li>
            </ul>
        </section>
        <section class="filter-category">
            <h4 class="filter-name">Price range</h4>
            <h4 class="filter-value"></h4>
            <ul class="filter-list">
                <li class="filter-not-selected">Not selected</li>
                <li>To &pound;99</li>
                <li>&pound;100 &ndash; &pound;299</li>
                <li>From &pound;300</li>
            </ul>
        </section>
    </div>

</div>