<footer class="footer">

    <section class="footer-links-care clearfix">
        <nav class="footer-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Store locator</a></li>
                <li><a href="#">Gift cards</a></li>
                <li><a href="#">Size guide</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
        <nav class="footer-care">
            <h4>Customer Care</h4>
            <ul>
                <li><a href="#">Customer service</a></li>
                <li><a href="#">Track my order</a></li>
                <li><a href="#">Return policy</a></li>
                <li><a href="#">Shipping &amp; delivery</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </nav>
    </section>

    <section class="footer-contacts">

        <div class="footer-questions">
            <h4>Questions</h4>
            <div class="footer-twitter">
                Tweet us <a href="https://twitter.com/template">@template</a>
            </div>
        </div>

        <div class="footer-phone">
            <h4>Order by phone</h4>
            <div>8-800-409-47-12</div>
        </div>
        <div class="clearfix"></div>
        <blockquote class="footer-quote">
            We have our own delivery service which operates in 23 major European cities. Delivery time &ndash; 3-5 days.
        </blockquote>

        <div class="footer-social">
            <a href="#"><i class="footer-icon footer-facebook-icon"></i></a>
            <a href="#"><i class="footer-icon footer-twitter-icon-blue"></i></a>
        </div>

    </section>
    <div class="clearfix footer-line"></div>

    <section class="footer-bottom">
        <nav class="footer-bottom-links">
            <div class="footer-social">
                <a href="#"><i class="footer-icon footer-facebook-icon"></i></a>
                <a href="#"><i class="footer-icon footer-twitter-icon-blue"></i></a>
            </div>
            <ul>
                <li><a href="#">Legal notice</a></li>
                <li><a href="#">Privace policy</a></li>
                <li><a href="#">Site map</a></li>
            </ul>
        </nav>
        <h4 class="footer-share">Share <span>1 437</span></h4>
        <div class="footer-copy">&copy; 2010-2015, The template Group inc.</div>
    </section>
</footer>