<header class="header">
    <div class="header-logo"><a href="start.html">TL</a></div>
    <a class="header-menu" href="#" id="header-menu">
        <div class="header-menu-item"></div>
        <div class="header-menu-item"></div>
        <div class="header-menu-item"></div>
        <div class="header-menu-close" hidden>X</div>
    </a>
    <a class="header-bag" href="shopping-bag.html">Bag <span id="bag-content">(0)</span></a>
    <div class="header-links">
        <a href="#">E-mail</a>
        <a href="#">sign up</a>
    </div>
    <a href="start.html">
        <h1>Template</h1>
    </a>
    <div class="header-menu-n-search">
        <nav class="header-nav">
            <ul>
                <li class="header-category"><a href="catalog.html">Women</a></li>
                <li class="header-category"><a href="catalog.html">Men</a></li>
                <li class="header-category"><a href="catalog.html">Handbags</a></li>
                <li class="header-category"><a href="catalog.html">Accessories</a></li>
                <li class="header-category"><a href="catalog.html">Sale</a></li>
                <li class="header-category"><a href="catalog.html">New Arrivals</a></li>
                <li class="header-category"><a href="catalog.html">Clearance</a></li>
                <li class="header-category"><a href="catalog.html">Store Locator</a></li>
            </ul>
        </nav>
        <form class="header-search">
            <input type="text" name="s" id="header-search" required>
            <label for="header-search">Style Name</label>
            <button type="submit" id="header-search-button"></button>
        </form>
    </div>
</header>