<div class="item">
    <nav>
        <a href="catalog.html">&lt; Back to catalog</a>
    </nav>
    <div class="item-content">
        <div class="item-preview">

            <div class="item-main-veiw">
                <img src="img/item/dark_suit-1.jpg" alt="dark_suit">
            </div>

            <div class="item-tumbnails">
                <div class="item-tumbnail is-selected">
                    <div class="item-foreground"></div>
                    <img src="img/item/tumb-dark_suit-1.jpg" alt="dark_suit">
                </div>

                <div class="item-tumbnail">
                    <div class="item-foreground"></div>
                    <img src="img/item/tumb-dark_suit-2.jpg" alt="dark_suit">
                </div>

                <div class="item-tumbnail">
                    <div class="item-foreground"></div>
                    <img src="img/item/tumb-dark_suit-3.jpg" alt="dark_suit">
                </div>
            </div>

        </div>

        <div class="item-description">
            <h2>Dark classic fit suit</h2>

            <div class="item-description-text">
                <div class="item-description-first">
                    <div class="item-price">&pound;180.60</div>
                </div>
                <div class="item-description-second">
                    <p>Featuring fine Italian wool, this elegant suit has pick-stitch edging, cascade buttons at the cuffs and a subtle stripe pattern throughout.</p>
                </div>
            </div>
            <form action="shopping-bag.html">

                <div class="item-form-row">
                    <h3>Size</h3>
                    <input type="radio" name="size" id="item-size1" value="UK 52" checked>
                    <label for="item-size1">UK 52</label>
                    <input type="radio" name="size" id="item-size2" value="UK 54">
                    <label for="item-size2">UK 54</label>
                    <input type="radio" name="size" id="item-size3" value="UK 56">
                    <label for="item-size3">UK 56</label>
                </div>
                <div class="item-form-row">
                    <h3>Color</h3>
                    <input type="radio" name="color" id="item-color1" value="Black">
                    <label for="item-color1">Black</label>
                    <input type="radio" name="color" id="item-color2" value="Blue" checked>
                    <label for="item-color2">Blue</label>
                </div>
                <button type="submit">Add to bag</button>
            </form>
        </div>
    </div>
</div>