<div class="item" data-id="1" id="item">
    <nav>
        <a href="catalog.html">&lt; Back to catalog</a>
    </nav>
    <div class="item-content">
        <div class="item-preview">

            <div class="item-main-veiw">
                <img src="img/item/twerk-3.jpg" alt="dont let twerk" id="item-image">
            </div>

            <div class="item-tumbnails">
                <div class="item-tumbnail">
                    <div class="item-foreground"></div>
                    <img src="img/item/tumb-twerk-1.jpg" alt="dont let twerk">
                </div>

                <div class="item-tumbnail">
                    <div class="item-foreground"></div>
                    <img src="img/item/tumb-twerk-2.jpg" alt="dont let twerk">
                </div>

                <div class="item-tumbnail is-selected">
                    <div class="item-foreground"></div>
                    <img src="img/item/tumb-twerk-3.jpg" alt="dont let twerk">
                </div>
            </div>

        </div>

        <div class="item-description">
            <h2 id="item-name">Friends don't let friends twerk t-shirt</h2>

            <div class="item-description-text">
                <div class="item-description-first">
                    <div class="item-price" id="item-price">&pound;356.60</div>
                </div>
                <div class="item-description-second">
                    <p>100% ring-spun cotton (gray color is 90% cotton/10% polyester) | Fabric Weight: 6.1 oz (heavyweight).</p>
                </div>
            </div>
            <form id="shopping-form">

                <div class="item-form-row">
                    <h3>Size</h3>
                    <input class="item-size" type="radio" name="size" id="item-size1" value="UK 46" checked>
                    <label for="item-size1">UK 46</label>
                    <input class="item-size" type="radio" name="size" id="item-size2" value="UK 48">
                    <label for="item-size2">UK 48</label>
                    <input class="item-size" type="radio" name="size" id="item-size3" value="UK 50">
                    <label for="item-size3">UK 50</label>
                </div>
                <div class="item-form-row">
                    <h3>Color</h3>
                    <input type="radio" name="color" id="item-color1" value="Black" checked>
                    <label for="item-color1">Black</label>

                    <input type="radio" name="color" id="item-color2" value="Blue">
                    <label for="item-color2">Blue</label>

                    <input type="radio" name="color" id="item-color3" value="Purple">
                    <label for="item-color3">Purple</label>
                </div>
                <button type="submit">Add to bag</button>
            </form>
        </div>
    </div>
</div>