<div class="banner-arrivals">
    <div class="banners clearfix">
        <a href="item.html">
            <img src="img/banner-1.png" alt="Red Nike">
        </a>
        <a href="catalog.html">
            <img src="img/banner-2.png" alt="Caps n Hats">
        </a>
        <a href="catalog.html">
            <img src="img/banner-3.png" alt="Sale">
        </a>
    </div>
    <h2 class="arrivals-header">New Arrivals</h2>
    <div class="arrivals">
        <a href="item.html" class="arrivals-item">
            <figure class="arrivals-figure">
                <img src="img/arrival-1.jpg" alt="Straight Leg Jeans">
                <figcaption>
                    <div class="arrivals-description">Straight Leg Jeans</div>
                    <div class="arrivals-price">&pound;55.00</div>
                </figcaption>
            </figure>
        </a>
        <a href="item.html" class="arrivals-item">
            <figure class="arrivals-figure">
                <img src="img/arrival-2.jpg" alt="Boyfriend T-Shirt with Bohemian Print">
                <figcaption>
                    <div class="arrivals-description">Boyfriend T-Shirt with Bohemian Print</div>
                    <div class="arrivals-price">&pound;34.25</div>
                </figcaption>
            </figure>
        </a>
        <a href="item.html" class="arrivals-item">
            <figure class="arrivals-figure">
                <img src="img/arrival-3.jpg" alt="Only Busted Knee Jean">
                <figcaption>
                    <div class="arrivals-description">Only Busted Knee Jean</div>
                    <div class="arrivals-price">&pound;140.50</div>
                </figcaption>
            </figure>
        </a>
        <a href="item.html" class="arrivals-item">
            <figure class="arrivals-figure">
                <img src="img/arrival-4.jpg" alt="Only Skinny Jeans">
                <figcaption>
                    <div class="arrivals-description">Only Skinny Jeans</div>
                    <div class="arrivals-price">&pound;12.75</div>
                </figcaption>
            </figure>
        </a>
    </div>
    <a href="catalog.html" class="arrivals-all">All Arrivals</a>
</div>